$font-family_1: Phantomsans, sans-serif;

$light_gray: #F7F7F7;
$med_gray: #9E9E9E;
$dark_gray: #515151; 

$link_blue: #0366d6;

//migrate back to module scss after migration to typesript
$yellow: yellow;
$light_green: greenyellow;
$brown: brown;
$red: red;